{% extends 'base_publica.html' %}

{% block titulo %}Livraria Virtual{% endblock %}

{% block conteudo %}


<section class="hero-section">
  <div class="container text-center">
    <div class="hero-badge mb-3">🚗 Simulador de Custos de Viagem 🚗</div>
    <h1 class="hero-title">Seu simulador<br>mais confiavel!</h1>
    <p class="hero-subtitle">
      Essa é uma plataforma para descobrir a classificação do seu carro. se ele é padrão,
      Beberrão, Econômico ou super Econômico.
    </p>
    
    </div>
  </div>
</section>

<!-- Funcionalidades -->
<section class="features-section">
  <div class="container">
    <h2 class="section-title text-center mb-5">O que você encontra aqui</h2>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="feature-card h-100">
          <div class="feature-icon"><i class="bi bi-journal-text"></i></div>
          <h5>Cadastro de Usuário</h5>
          <p>Cadastre e gerencie sobre sua viagem.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card h-100">
          <div class="feature-icon"><i class="bi bi-person-lines-fill"></i></div>
          <h5>área de calculo</h5>
          <p>Calcule e descubra a classificação do seu carro. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-card h-100">
          <div class="feature-icon"><i class="bi bi-people"></i></div>
          <h5>Controle de Usuários</h5>
          <p>Gerencie seu perfil.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="cta-section text-center">
  Define uma seção semântica para a chamada de ação.
  cta-section é uma classe personalizada que provavelmente controla o estilo (fundo diferenciado, espaçamento, cores).
  text-center centraliza todo o conteúdo.
  <div class="container">
    Cria um contêiner responsivo para alinhar o conteúdo de forma organizada.
    Título (<h2 class="cta-title">)
      Pergunta direta ao usuário: “Pronto para organizar seu acervo?”.
      cta-title estiliza o título para dar destaque.
      Subtítulo (<p class="cta-sub">)
        Complementa a mensagem: “Cadastre-se gratuitamente e comece a catalogar hoje mesmo.”.
        cta-sub aplica estilo mais leve, reforçando o convite.
        Botão (<a ...>)
          Link estilizado como botão grande (btn btn-amber btn-lg).
          mt-2 px-5 adiciona margem superior e padding horizontal para dar mais presença.
          Texto: “Começar agora”.
          href="{{ url_for('cadastro') }}" -->
<section class="cta-section text-center">
  <div class="container">
    <p class="cta-sub">Cadastre-se gratuitamente e comece a calcular agora mesmo!</p>
    <a href="{{ url_for('cadastro') }}" class="btn btn-amber btn-lg mt-2 px-5">Começar agora</a>
  </div>
</section>

{% endblock %}
<!-- Fim do bloco de conteúdo -->