{% extends 'base.html' %}

{% block titulo %}Início — Sistema {% endblock %}

{% block conteudo %}

<!-- Hero / Jumbotron -->
<div class="p-5 mb-4 bg-light rounded-3">
  <h1 class="display-5 fw-bold">⚖️ Simulador de Custos de Viagem ⚖️ </h1>
  <p class="lead">
    Descreva o que o site faz.
  </p>
  <a href="{{ url_for('calcular') }}" class="btn btn-primary btn-lg">➕ Simular</a>
</div>

<!-- Como é feito o cálculo -->
<h2 class="mb-3">Como é feito o cálculo?</h2>
<div class="card mb-4">
  <div class="card-body">
    <div class="alert alert-primary text-center fs-4">
      Calcular a quantidade de litros necessários (LN = D / C),
      o custo total da viagem (CT = LN x P) e o custo por quilômetro rodado (CQ = CT / D)
    </div>
  </div>
</div>

<!-- Tabela de classificação da OMS -->
<h2 class="mb-3">Tabela de Cálculos(Para testes)</h2>
<div class="table-responsive mb-4">
  <table class="table table-bordered table-hover">
    <thead class="table-primary">
      <tr>
        <th>Simulador de Custos de viagens</th>
        <th>Classificação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Consumo abaixo de 8km/l</th>
        <th>Beberrão</th>
      </tr>
      <tr>
        <th>Consumo abaixo de 15km/l</th>
        <th>Padrão</th>
      </tr>
      <tr>
        <th>Consumo abaixo de 18km/l</th>
        <th>Economico</th>
      </tr>
      <tr>
        <th>Consumo acima de 18km/l</th>
        <th>Super economico</th>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}